body{ 
font-family: Trebuchet MS, Verdana, sans-serif;
font-size:10px;
text-align:center;
margin-left:0px;
margin-right:0px;
width:99%;
height:99%;
background: #fff url('../vic.jpg') repeat;
color:#555;
}

#buyprints{
z-index:300;
position:absolute;
left:100%;
margin-left:-125px;
top:0;
margin-top:0%;
}
/* harrington */
#container{
position:absolute;
top:50%;
margin-top:-230px;
left:50%;
margin-left:-380px;
text-align:center; 
background-color:white;
}

#flash{
z-index:1;
width:753px;
height:443px;
padding-top:20px;
}

span.label,span.spacer,span.multiple span {width:10px;} 
span.multiple {float:left;} 
span.button {padding-left:5px;} 
div.clear {} 

#bottombar{
margin-top:5px;
}

h2{font-size:16px; font-weight:normal; display:inline; margin-right:20px; margin-left:0 padding:0;}

a{color:#333; font-size:12px; font-weight:normal; text-decoration:none; border-bottom:1px dotted #333;}
a:link{text-decoration:none; }
a:visited{text-decoration:none;}
a:hover{text-decoration:none; color:#333; border-bottom:1px solid #333;}
a:active{text-decoration:none;}


}/*
position:absolute;
margin-top:0px;
height:22px;
clear:both;
background-color:white;
width:100%;
}
